%h1 
  MeSH Cloud for  
  %span.query= awesome_truncate h(@query.query), 200

- unless @query.num_articles.blank?
  %div.num_articles== Generated from #{number_with_delimiter @query.num_articles} articles


%ol.keyword_cloud= mesh_keyword_cloud @mesh_frequencies

- unless @publication_histogram.blank?
  %h2.publication_history Publication History
  - publication_histogram @publication_histogram, @query.actual_pubmed_query 
  
  
  

-content_for :help do
  = render :partial => 'help/keyword_cloud'

-content_for :sidebar_tabs do
  %li.tab.selected_terms= link_to 'Selected Terms', '#selected_terms'

-content_for :sidebar_tabs do
  %li.tab.share= link_to 'Share', '#share'

-content_for :sidebar_panels do
  #selected_terms_panel.sidebar_panel.selections_panel
    = javascript_tag "keyword_selections = new Ligercat.MeshSelectionPanel('selected_terms', '.keyword_cloud li a', {optional_scope:'#{@query.actual_pubmed_query}'})"
  #share_panel.sidebar_panel
    = render :partial => 'articles/embed'
	
	
-content_for :domready do
  ==sidebar_tabs = new Tabs('.sidebar_tabs', '.sidebar_panel');
  ==keyword_selections.addEvent('beforeAdd', function(){sidebar_tabs.showTab(1);});

-insert_big_footer