= form_tag({}, :method=> :post) do
  - unless @errors.blank?
    .errors= @errors[:general] 
  
  %fieldset.message
    %legend Email Form
    %label{:for=>"email_sender"} E-mail Address:
    - if @errors[:sender]
      .error= @errors[:sender]
    %input.textbox{:type=>"text", :name=>"email_sender", :id=>'email_sender', :value=>@sender, :class=>(@errors[:sender] ? 'error' : '') }
  
    %label{:for=>"email_message"} Message:
    - if @errors[:message]
      .error= @errors[:message]
    %textarea{:type=>"text", :name=>"email_message", :id => 'email_message', :class=>(@errors[:message] ? 'error' : '')}= @message
      
  %fieldset.recaptcha
    %label{:for=>"recaptcha_response_field"} Please enter the two words below:
    - if @errors[:recaptcha]
      .error= @errors[:recaptcha]
    = recaptcha_tags :display => {:theme => 'clean'}

  %fieldset.buttons
    %input.submit{:type=>"submit", :value=>"Submit"}
