%h1 
  MeSH Cloud for  
  %span.query= awesome_truncate h(@query.query), 200
  - if @query.is_a? BinomialQuery and !@query.eol_taxon_concepts.blank?
  = link_to image_tag("logo_eol_small.png", alt: "Encyclopedia of Life"), "http://eol.org/pages/#{@query.eol_taxon_concepts.first.id}", :class => 'eol_taxa', :target => '_blank', :title => "See this species in EoL"

- unless @query.num_articles.blank?
  %div.num_articles== Generated from #{number_with_delimiter @query.num_articles} articles


%ol.keyword_cloud= keyword_cloud @mesh_frequencies

- unless @publication_histogram.blank?
  %h2.publication_history Publication History
  - publication_histogram @publication_histogram, @query.actual_pubmed_query 
  
  
  

-content_for :help do
  = render :partial => 'help/keyword_cloud'

-content_for :sidebar_tabs do
  %li= link_to 'Selected Terms', '#selected_terms_panel'
  %li= link_to 'Share', '#share'

-content_for :sidebar_panels do
  = render 'shared/selected_terms_panel'
  #share
    = render :partial => 'embed'

- content_for :domready do 
  == Ligercat.PubmedQueryBuilder.config.scope = "#{escape_javascript @query.actual_pubmed_query}";
