!!! 5
%html
  %head
    %meta{ 'charset' => 'UTF-8' }
    %title= title
    = javascript_include_tag 'application'
    = stylesheet_link_tag 'application'
    /[if IE 7]
      = stylesheet_link_tag 'ie7'
    /[if IE 6]
      = stylesheet_link_tag 'ie6'
    = csrf_meta_tags

    :javascript
      $(function() {
        #{yield :domready}
      });

  %body{ :id => body_id, :class => body_class }
    %header#header_and_tabs
      #header.container
        #logo_and_tagline
          %a.home{ :href => home_url, :title => 'Return to Home Page' }
            %span.logo{'data-version' => Ligercat::Application.config.app_version} LigerCat
            %span.tagline Literature and Genomics Resource Catalogue
        %nav
          %ul.navigation
            = nav_tab 'pubmed_queries', pubmed_queries_url
            = nav_tab 'blast_queries',    blast_queries_url

    .search_panel{ :class => context }= render :partial => "#{context}/search_form"
    = content_for?(:content) ? yield(:content) : yield

    = content_for?(:footer) ? yield(:footer) : render('shared/big_footer')

    = google_analytics
