!!! 1.1
%html{ :xmlns => "http://www.w3.org/1999/xhtml", 'xml:lang' => "en" }
  %head
    %meta{ 'http-equiv' => 'Content-Type', :content => "application/xhtml+xml; charset=utf-8" }
    %title= title
    = javascript_include_tag 'application'
    = stylesheet_link_tag 'application'

    :javascript
      window.addEvent('domready', init);
      function init() {
        #{searchbox_hint_javascript}
        #{yield :domready}
      }

  %body{ :id => body_id, :class=>'static' }
    #header_and_tabs
      #header.container
        #logo_and_tagline
          %a.home{ :href => context_home_url, :title => 'Return to Home Page' }
            %span.logo LigerCat
            %span.tagline Literature and Genomics Resource Catalogue
        %ul.navigation
          = nav_tab 'pubmed_queries', pubmed_queries_url
          = nav_tab 'blast_queries',    blast_queries_url

    .search_panel{ :class => context }= render :partial => "#{context}/search_form", :locals => {:height => '12' }

    #content.container
      .copy= yield :layout

    =google_analytics
